*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

body {
    /* fit elements to entire screen */
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, purple, yellow);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(88, 213, 218, 0.4);
}

.calculator-grid > button:hover {
    background-color: aqua;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / span 4; /* 1/-1 , 1/4 */
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    /*word-wrap: break-word;*/
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
}