*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /*font: inherit;*/
}

html {
    color-scheme: light;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 5rem 0;
}

.section-center {
    width: 90vh;
    max-width: 1180px;
    display: grid;
    place-items: center;
    text-align: center;
}

.img-container {
    height: 60vh;
    /* background: yellow no-repeat center/contain;*/
    /*background-image: url("./gift.png");*/
    border: 10px solid red;
    position: relative;
    margin: 1rem;
    
    /*******************/
    background-color:yellow;

    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 800px){
    h4 {
        font-size: 1.5rem;
    }
}

.deadline {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deadline-format {
    background: gray;
    color: azure;
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 25%;

    display: grid;
    place-items: center;
    text-align: center;
}

.deadline-format span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

.deadline h4:not(.expired) {
    font-size: 2rem;
    margin-bottom: 0.25rem;
    letter-spacing: 0.25rem;
}