* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: rgb(196, 196, 221);
    display: grid;
    height: 100%;
    place-items: center;
}

h4 {
    font-weight: 500;
    line-height: 2;
    font-size: x-large;
    text-transform: capitalize;
}

.container {
    background-color: #fff;
    width: 600px;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

form > input {
    margin: 10px 0px;
    width: 300px;
    min-height: 30px;
}

form #submitBtn {
    margin: 0px 0px 8px 0px;
    padding: 5px 20px 5px;
    color: wheat;
    background-color: blueviolet;
    box-shadow: 2px 2px 5px teal ;
}

.errorMsg {
    background-color: #FFD4CD;
    width: 100%;
    padding: 5px;
    font-weight: 600;
    display: none;
}

.info {
    color: rgb(83, 204, 27);
}