*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    color-scheme: light;
}

.timerBtn {
    width: 80px;
    height: 30px;
    border: 3px solid;
    background-color: rgb(88, 57, 57);
    color: white;
    border-radius: 12px;
    cursor: pointer;
    font-family: consolas, monospace;
}

#timeDisplay {
    font-size: 75px;
    color: greenyellow;
    font-family: consolas, monospace;
}

#timeContainer {
    text-align: center;
    border: 3px solid;
    border-radius: 24px;
    background-color: #222222;
}