@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Tilt+Neon&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    color-scheme: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background: no-repeat url('https://fastly.picsum.photos/id/0/5000/3333.jpg?hmac=_j6ghY5fCfSD6tvtcV74zXivkJSPIfR9B8w34XeQmvU');
    background-size: cover;

}

.card {
    background: rgba(245, 222, 179, 0.76);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    outline: none;
    background: #58d68ce1;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #58d68ce1;
    color: white;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 50px);
}

button:hover {
    background: #48b374e1;
}

h1.temp {
    margin: 0.5em 0;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
}

.weather.loading::before {
    visibility: visible;
    content: "Loading...";
    color: rgb(3, 2, 2);
    position: relative;
    top: 10px;
}