*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    color-scheme: light;
    background-color: rgb(83, 29, 29);
}

body {
    cursor: none;
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main h1 {
    color: rgb(37, 187, 105);
    font-size: 40px;
}

.cursor {
    z-index: 999;
    position: fixed;
    background: #2a3599dc;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #00ff40, 0 0 60px #2696E8, 0 0 100px #320fce;
    transform: translate(-50%, -50%);
    animation: colors 5s infinite;
    display: none;
}

@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }; 

    100%{
        filter: hue-rotate(360deg);
    }; 
}

.cursor::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #25ce2e;
    opacity: 0.2;
    transform: translate(-30%, -30%);
}