*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: light;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /****************/

    background: linear-gradient(to top, hsl(34, 85%, 37%), hsl(224, 77%, 42%));
}

.img-container {
    width: 60%;
    height: 60vh;
    background: black no-repeat center/contain url("img/1.png");
    border: 0.5rem solid whitesmoke;
    border-radius: 0.5rem;
    position: relative;
    margin: 1rem;
    box-shadow: 0px 0px 35px rgba(255, 255, 255, 1);
    
}

.btn-left {
    position: absolute;
    top: 50%;
    left: 0;
    color: black;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 0px solid red;
    padding: 10px;
    cursor: pointer;
}

.btn-right {
    position: absolute;
    top: 50%;
    right: 0;
    color: black;
    font-size: 1.5rem;
    background-color: white;
    transform: translate(50%, -50%);
    border: 0px solid red;
    padding: 10px;
    cursor: pointer;
}
