@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Tilt+Neon&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Tilt Neon', cursive;
}

html {
    color-scheme: normal;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container {
    width: 375px;
    height: 550px;
    background: #857da7;

    padding: 12px;

    border-radius: 12px;
    box-shadow: 4px 4px 30px rgba(255, 255, 0, 1);
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

.container form {
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    background: wheat;
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.container form .fa-search {
    padding: 0 8px;
}

.container form input {
    border: none;
    border-radius: 8px;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 10px;
}

.product-list {
    padding: 20px 0;
}

.product {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 8px;
}

.product > img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-radius: 6px;
}

.product .p-details {
    padding-left: 16px;
}

.product .p-details > h2{
    font-size: 20px;
    color: aqua;
}

.product .p-details > h3{
    font-size: 16px;
}