*,
::after,
::before {
    box-sizing: border-box;
    font-family:  sans-serif;
}

:root {
    --rotation: 0;
    --clock-bg-color: rgba(255, 128, 200, 0.4);
    --clock-border-color: rgba(192, 221, 89, 0.5);
}

body {
    background: linear-gradient(to right, hsl(51, 67%, 49%), hsl(281, 33%, 49%));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    width: 300px;
    height: 300px;
    background-color: var(--clock-bg-color);
    border-radius: 50%;
    border: 2px solid var(--clock-border-color);
    position: relative;
}

.clock .number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

.clock .hand {
    --rotation: 0;
    position: absolute;
    background-color:black ;
    
    bottom: 50%;
    left: 50%;
    
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));

    border: 0.5px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    z-index: 10;
}

.clock::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 15px;;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    border-radius: 50%;
}

.clock .hand.second {
    width: 2px;
    height: 45%;
    background-color: red;
}

.clock .hand.minute {
    width: 6px;
    height: 40%;
    background-color: black;
}

.clock .hand.hour {
    width: 8px;
    height: 35%;
    background-color: black;
}