body {
    font-size: 16px;
    box-sizing: border-box;
}

.container {
    text-align: center;
}

.container > h1 {
    font-size: 4rem;
}

#value {
    font-weight: 500;
    font-size: 10rem;
}

.btn-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    text-transform: uppercase;
    background: transparent;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    letter-spacing: .1rem;
    display: inline-block;
    font-size: 1rem;
    border: 2px solid #000;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin: 0 5px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background: black;
    color: white;
}